@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <html>
    <head>
        <meta charset="utf-8">
        <title>Статья</title>
   
    </head>

    <body>
        <div class="toolbar">
            <div class="toolbarItem">
                <a href="#">Главная</a>
                <a href="#">Блог</a>
                <a href="#">Контакты</a>
             
            </div>
        </div>

        <main>
            <input type="hidden" value="@ViewBag.ArticleId" name="ArticleId" />
            <div class="post">
               @foreach (var b in ViewBag.Articles)
                {
                    if (b.Id == @ViewBag.ArticleId)
                    {
                        
                        
                      
                <div class="content">
                    <h2> @b.Name </h2>
                    <article>
                        <h3> @b.Content </h3>
                        <p> @b.MainContent </p>
                    </article>
                    <a href="~/Home/Index"> Назад </a>
                </div>

                    }

                }
            </div>
        </main>
    </body>
    </html>